<%# <%= stylesheet_link_tag(asset_path '/assets/bootstrap.min.css') %>
<%# <%= javascript_include_tag(asset_path '/assets/bootstrap.min.js') %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-22786828-5', 'wackwack.net');
  ga('send', 'pageview');

</script>
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/searches">かんけん</a><span class="brand" style="font-size:10px">-Amazonの「こんな商品も買っています」をページ遷移レスに検索するサービスです</span>
  </div>
</div>
<div class="ninja_onebutton">
  <script type="text/javascript">
  //<![CDATA[
  (function(d){
  if(typeof(window.NINJA_CO_JP_ONETAG_BUTTON_ed06dc51c6f3eff74325f1c70dc5a9ec)=='undefined'){
      document.write("<sc"+"ript type='text\/javascript' src='http:\/\/omt.shinobi.jp\/b\/ed06dc51c6f3eff74325f1c70dc5a9ec'><\/sc"+"ript>");
  }else{
      window.NINJA_CO_JP_ONETAG_BUTTON_ed06dc51c6f3eff74325f1c70dc5a9ec.ONETAGButton_Load();}
  })(document);
  //]]>
  </script><span class="ninja_onebutton_hidden" style="display:none;"></span><span style="display:none;" class="ninja_onebutton_hidden"></span>
</div>

