<form class="form-search" action="/searches/search" method="post" style="text-align:center">
  <input type="text" class="input-large search-query" name="keyword" placeholder="検索ワードを入力">
  <button type="submit" class="btn-mini">検索</button>
</form>